<%= render 'layouts/nav_sheets' %>
<div class="content-events">
		<h3>Edit your event information</h3>

<h1>Editing event</h1>

<%= render 'form' %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', events_path %>

</div>