<%= render 'layouts/nav_sheets' %>

<div class="content-events">
    <h1 style="margin:25px 0 60px 0">My Events <span style="float:right"><%= link_to 'New Event', new_event_path, class: "button" %></span></h1>

      <p>Your assistant will use this information to find prospectects who are attending this event.</p>

      <%= render 'events' %>
<br>
</div>
</div>