<%= render 'layouts/nav_sheets' %>
<div class="content-events">
		<h3>Enter your event information</h3>

			<p>Your assistant will take this and find the contacts attending this event.</p>

<%= render 'form' %>


</div>
