<%= render 'layouts/nav_sheets' %>
<div class="content-events">
		<h1 style="margin:25px 0">Stream of Assignments</h1>

<div class="stream-container">
	<h3>Lead Generation Campaigns</h3>
		<%= render 'leadgens/leadgen' %>
</div>	

<div class="stream-container">
	<h3>Latest Events</h3>
		<%= render 'events/events' %>
</div>

<div class="stream-container">
	<h3>VIP Contacts</h3>
		<%= render 'contacts/contacts' %>
</div>

<!-- close container div -->
</div>   