<%= render 'layouts/nav_sheets' %>
<div class="content-events">
		<h1 style="margin:25px 0">Stream of Assignments</h1>

<div class="stream-container">
	
	<h6 style="float:left">Lead Generation Campaigns</h6><h4 style="float:right">Deadline</h4>
		<br />
		<div>
			<%= render 'leadgens/leadgen' %>
		</div>
</div>	

<div class="stream-container">
		<h6 style="float:left">Latest Events</h6><h4 style="float:right">Deadline</h4>
		<br />
		<div>
			<%= render 'events/events' %>
		</div>
</div>

<div class="stream-container">
	<h6 style="float:left">VIP Contacts</h6><h4 style="float:right">Deadline</h4>
		<br />
		<div>
			<%= render 'contacts/contacts' %>
		</div>
</div>

<!-- close container div -->
</div>   