<%= render 'layouts/nav_sheets' %>
<div class="content-events">
		<h3>Meet your assistant</h3>

			<p>You haven't been assigned someone to help with your work yet. Please reach out to <a href="mailto:support@prospectingzen.com">support@prospectingzen.com</a> and we'll be able to pair you with the right person.</p>

<!-- close container div -->
</div>   