<%= render 'layouts/nav_sheets' %>
<div class="content-referalls">
		<h3>Enter your event information</h3>

			<p>Your assistant will take this and find the contacts attending this event.</p>

	<blockquote>
		<p>Hey there,</p>
		<p>I've been using ProspectingZen to generate new sales prospects and thought you would find it useful as well. If you sign up with <a href="http://prospectingzen.co/abcd1234">this referral link</a>, you'll get a free month using the service.</p>
			<a href="http://prospectingzen.co/abcd1234">prospectingzen.co/abcd1234</a></p>
	</blockquote>
<!--<p>Average number of customers referred by existing customers: 3</p>-->
</div>
<!-- close container div -->
</div>   