<%= render 'layouts/nav_sheets' %>
<div class="content-referalls">
	<blockquote>
		<h3>Your referral link is <a href="http://prospectingzen.co/abcd1234">prospectingzen.co/abcd1234</a></h3></blockquote>

			<p>When someone clicks your link and signs up as a new customer for ProspectingZen (and keeps it for 3 months) you’ll receive a credit equal to one month fee. As a bonus, anyone who signs up from your referral link will also get their first month free.</p>

			<p>There is no limit to the number of customers you can refer, feel free to button your link with as many people as you think may benefit from the service. Happy prospecting!</p>
	<blockquote>
		<p>Hey there,</p>
		<p>I've been using ProspectingZen to generate new sales prospects and thought you would find it useful as well. If you sign up with <a href="http://prospectingzen.co/abcd1234">this referral link</a>, you'll get a free month using the service.</p>
			<a href="http://prospectingzen.co/abcd1234">prospectingzen.co/abcd1234</a></p>
	</blockquote>
<!--<p>Average number of customers referred by existing customers: 3</p>-->
</div>
<!-- close container div -->
</div>   