<%= render 'layouts/nav_sheets' %>
<div class="content-events">

<h1 style="margin:25px;">Editing contact card <span style="float:right"><small><%= link_to 'View Card', @contact %></small></span></h1>

<%= render 'form' %>



</div>