<%= render 'layouts/nav_sheets' %>
<div class="content-events">

<h1 style="margin:25px 0 60px 0">My VIPs <span style="float:right"><%= link_to 'New Contact', new_contact_path, class: "button" %><span></h1>

<%= render 'contacts' %>

<br>
</div>


