<%= render 'layouts/nav_sheets' %>
<div class="content-events">
<h3>VIP Contact Card</h3>
<p>Fill out the fields you know and let your freelancer fill in the rest of the information about this target. For example if you enter Director of Marketing at Exxon, your freelancer will find out who that is and fill in the rest of their information.</p>

<%= render 'form' %>

</div>
