<%= render 'layouts/nav_sheets' %>
<div class="content-events">
<h3>VIP Contact Card</h3>
<p> Provide a name and any additional information you have and your freelancer will find out everything else about this VIP.</p>

<%= render 'form' %>

</div>
