<%= render 'layouts/nav_sheets' %>
<div class="content-events">
<h3>Enter your contact's name and any other information you already know.</h3>
<p> Your freelancer will do the research to find out the rest.</p>

<%= render 'form' %>

</div>
