<%= render 'layouts/nav_sheets' %>
<div class="content-events">

<h3>Enter the list of companies you need to generate leads from and your freelancer will return a spreadsheet with their contact information.</h3>

<%= render 'form' %>

<%= link_to 'Show', @leadgen %>
