<div class="login-container">
<img src="http://ryanfsalerno.com/hosting/imgs/squarelogo.png" class="login-img">
</div>

<center>
<h2>Payment confirmed! Now let's close some deals.</h2>
<h3><%= link_to "Register your account to sign in.", new_user_registration_path %></h3></center>