<div class="login-container">
<img src="http://ryanfsalerno.com/hosting/imgs/squarelogo.png" class="login-img">
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
    	   <center style="margin:50px 5px;"><label class="amount center">
      <span>$40.00 per month</span><br /><br />
    		</label>

    		<%= form_tag charges_path do %>
    		 <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Monthly subscription"
          data-amount="4000"></script>
          <br />
          <br />
          <a href="http://stripe.com" target="_blank"><img src="http://ryanfsalerno.com/hosting/imgs/outline.png"></a>
       </center>
    </div>
	</div>
		</div>

<% end %>