<% if user_signed_in? %>
          <%else %>
<div class="login-container">
<img src="http://ryanfsalerno.com/hosting/imgs/squarelogo.png" class="login-img">
</div>

<div class="bottom-link"><div class="signupnow">Don't have an account? <a href="http://prospectingzen.co"><strong>Sign up today</strong></a>.</div></div>          
          <% end %>